@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=JetBrains+Mono:wght@100;200;300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-matte-black: #0a0a0a;
  --color-matte-gray-900: #121212;
  --color-matte-gray-800: #1a1a1a;
  --color-matte-gray-700: #262626;
  --color-matte-gray-600: #3e3e3e;
  --color-matte-gray-400: #a3a3a3;
  --color-matte-white-950: #f5f5f5;
  --color-veloce-coral: #00f0ff;
  --color-accent-amber: #d4af37;
}

body {
  background-color: var(--color-matte-black);
  color: var(--color-matte-white-950);
  font-family: var(--font-sans);
  overflow-x: hidden;
  margin: 0;
}

.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.32);
  color: transparent;
}

.grid-pattern {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
}

.clip-slanted {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--color-matte-white-950);
  color: var(--color-matte-black);
}

/* Custom scrollbar to keep layout premium */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}
